.Auth {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.line {
    width: 1px;
    height: 110vh;

    position: relative;
    top: 30px;
    background-color: gray;



}